*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%; }

.container {
  width: 1200px;
  padding: 0 1rem;
  margin: 0 auto; }

.heading-primary {
  font-size: 6rem;
  font-weight: 400; }

.heading-secondary {
  font-size: 4rem;
  font-weight: 300;
  text-transform: capitalize; }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase; }

.header__quote {
  font-size: 1.6rem;
  font-weight: 300; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 300; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-text-justify {
  text-align: justify; }

.footer {
  color: #fff;
  background: #66d88a;
  padding: 5rem 0; }
  .footer .row {
    padding: 0;
    margin-left: 0;
    margin-right: 0; }
  .footer .heading-tertiary {
    margin-bottom: 1rem; }
  .footer__nav {
    margin-left: 50%; }
    .footer__nav li {
      display: inline-block;
      margin-right: 2rem; }
      .footer__nav li a {
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: 300;
        color: #0b0e1b;
        text-transform: capitalize; }
  .footer button {
    padding: 1.5rem;
    text-transform: capitalize;
    font-size: 1.6rem;
    border: none;
    border-radius: 3px; }
  .footer input[type="email"] {
    width: 50%;
    display: inline-block;
    margin-right: 1.5rem;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: none !important;
    font-size: 1.6rem;
    border-radius: 3px; }

.row {
  max-width: 114rem;
  padding: 20px 0;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  padding-top: 10rem;
  background: #0b0e1b url(../img/home-top-bg.png);
  background-size: 70%;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.header__navigation {
  position: absolute;
  top: 4rem;
  right: 4rem; }
  .header__navigation li {
    display: inline-block; }
    .header__navigation li:not(:last-child) {
      margin-right: 2rem; }
    .header__navigation li a {
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.6rem;
      font-weight: 300;
      color: #717597;
      transition: color .4s; }
      .header__navigation li a.active-page, .header__navigation li a:hover {
        color: #66d88a; }

section {
  padding: 7rem; }

.heading-primary {
  color: #fff;
  font-weight: 400; }

header p {
  font-size: 3.7rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: #717597;
  display: block; }

.header__quote {
  color: #dfdfdf;
  font-size: 2rem; }

.process-section {
  background: #0b0e1b; }
  .process-section .heading-secondary {
    color: #fff; }
  .process-section .process-map {
    position: relative;
    padding: 5rem 0; }
    .process-section .process-map__point {
      position: relative;
      border-radius: 100%;
      transition: all .3s linear; }
      .process-section .process-map__point:hover {
        box-shadow: 0 0 30px rgba(113, 117, 151, 0.7); }
      .process-section .process-map__point.u-w-103 {
        width: 126px; }
      .process-section .process-map__point:first-child {
        display: inline-block; }
        .process-section .process-map__point:first-child .process-map__title--first {
          top: -4.5rem;
          left: 50%;
          transform: translateX(-50%);
          text-align: center; }
    .process-section .process-map__title {
      position: absolute;
      color: #717597;
      font-size: 1.6rem;
      font-weight: 300;
      text-transform: capitalize;
      padding: 1rem 0;
      display: inline-block;
      width: 100%; }
    .process-section .process-map__icon {
      width: 120px;
      height: 120px;
      background: #717597;
      border-radius: 50%;
      position: relative;
      z-index: 5; }

.flex-row {
  display: flex;
  justify-content: space-between;
  margin: 10rem 0;
  position: relative; }
  .flex-row::after {
    content: '';
    width: 100%;
    height: 3px;
    background: #66d88a;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    z-index: 1; }
  .flex-row div {
    z-index: 2; }
  .flex-row .u-bottom-0 {
    bottom: -4.5rem; }
  .flex-row .u-top-0 {
    top: -4.5rem; }

.process-map__point--right {
  display: flex !important;
  justify-content: flex-end;
  flex: 1; }
  .process-map__point--right::after {
    content: '';
    width: 3px;
    height: 84%;
    background: #66d88a;
    position: absolute;
    top: -100px;
    right: 60px;
    z-index: 1; }
  .process-map__point--right:hover {
    box-shadow: none !important; }
  .process-map__point--right .process-map__title {
    text-align: right;
    position: absolute;
    bottom: -45px; }

.process-map__point--left {
  display: inline-block; }
  .process-map__point--left::after {
    content: '';
    width: 3px;
    height: 84%;
    background: #66d88a;
    position: absolute;
    bottom: -100px;
    right: 60px;
    z-index: 1; }
