// COLORS
$color-blue-dark: #0b0e1b;
$color-blue-light: #717597;
$color-green-primary: #66d88a;
$color-white: #fff;


//FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;