.heading-primary {
    color: $color-white; 
    font-weight: 400;
}

header p {
    font-size: 3.7rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: $color-blue-light;
    display: block;
}

.header__quote{
        color: $color-grey-light;
        font-size: 2rem;
}

.process-section {
    background: $color-blue-dark;

    .heading-secondary {
        color: #fff;
    }

    .process-map {
        position: relative;
        padding: 5rem 0;



        &__point {
            position: relative;
            border-radius: 100%;
            transition: all .3s linear;

            &:hover {
                box-shadow: 0 0 30px rgba($color-blue-light, .7);
            }

            &.u-w-103 {
                width: 126px;
            }

            &:first-child {
                display: inline-block;
                .process-map__title--first  {
                    top: -4.5rem;
                    left: 50%;
                   transform: translateX(-50%);
                   text-align: center;
                }

            }
        }

        &__title {
            position: absolute;
            color: $color-blue-light;
            font-size: 1.6rem;
            font-weight: 300;
            text-transform: capitalize;
            padding: 1rem 0;
            display: inline-block;
            width: 100%;
        }

        &__icon {
            width: 120px; 
            height: 120px;
            background: $color-blue-light;
            border-radius: 50%; 
            position: relative;
            z-index: 5;
        }

    }
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0;
    position: relative;
   

    &::after {
        content: '';
        width: 100%;
        height: 3px;
        background: $color-green-primary;
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        z-index: 1;
    }

    div {
        z-index: 2;
    }

    .u-bottom-0 {
        bottom: -4.5rem;
    }

    .u-top-0 {
        top: -4.5rem;
    }
}

.process-map__point--right {
    display: flex !important;
    justify-content: flex-end;
    flex: 1;

    &::after {
        content: '';
        width: 3px;
        height: 84%;
        background: #66d88a;
        position: absolute;
        top: -100px;
        right: 60px;
        z-index: 1;
    }

    &:hover {
        box-shadow: none !important;
    }

    .process-map__title {
        text-align: right;
        position: absolute;
        bottom: -45px;
    }
}

.process-map__point--left {
    display: inline-block;

    &::after {
        content: '';
        width: 3px;
        height: 84%;
        background: #66d88a;
        position: absolute;
        bottom: -100px;
        right: 60px;
        z-index: 1;
    }


}

