.heading-primary {
    color: $color-white; 
    font-weight: 400;
}

header p {
    font-size: 3.7rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: $color-blue-light;
    display: block;
}

.header__quote{
        color: $color-grey-light;
        font-size: 2rem;
}
